@charset "utf-8";

html {
	background: url(../images/main_bgnd.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font: 62.5% "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #32382e;
}

*{margin: 0; padding: 0;}
ul, ol, li{list-style: none;}

nav {diplay: block;}

a:link, a:active, a:visited, a:focus {outline: none;}

h1, h2 {
	color: #32382e;
	font-family: "Bebas Neue", Helvetica, Arial;
	letter-spacing: .05em;
}

h1 {
	font-size: 2.5em;
}

p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p a {
	color: #32382e;
}

p a:hover {
	color: #e55a51;
}

#megaWrapper {
	background: url(../images/bgnd_bar.gif) repeat-x top;
}

/* -------------------------------- */
/* ----------- sideBar ----------- */
/* -------------------------------- */



#sideBar {
	width: 186px;
	height: 100%;
	display: block;
	float: left;
}

#header {
	width: 165px;
	height: 200px;
	margin: 44px auto 0 auto;
	background: url(../images/phoenix.png) no-repeat center;
}

#branding {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
}

#branding a {
	display: block;
	height: 100%;
	width: 100%;
}

#contactBox {
	width: 165px;
	height: 67px;
	bottom: 12px;
    left: 12px;
    position: fixed;
    z-index: 999;
	background: url(../images/scanlines.png) no-repeat bottom;
	font-size: 1.1em;
}

#contactBox a {
	color: #32382e;
	text-decoration: none;
}

#contactLink {
	height: 24px;
	text-align: left;
	padding-left: 34px;
}

#contactLink:hover {
	opacity: 0.7;
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  	filter: alpha(opacity=80);
}

.phone {
	background: url(../images/caleb_sylvest_phone.png) no-repeat left;
}

.email {
	background: url(../images/caleb_sylvest_email.png) no-repeat left;
}


/* -------------------------------- */
/* ------- floating header ------- */
/* -------------------------------- */

#mainNav {
	width: 100%;
	height: 28px;
	background: url(../images/nav_bgnd.gif) repeat-x;
}

#mainNav ul {
	width: 813px;
}

#mainNav ul li {
	float: left;
}

#aNav {
	background-image: url(../images/nav_text.png);
	background-position: 0 -35px;
}

.port {
	background: url(../images/portfolio_block.jpg) no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
}

.port:hover {
	background: url(../images/portfolio_block.jpg) no-repeat;
	background-position: 0 -29px;
	text-indent: -9999px;
}

.port2 {
	background: url(../images/nav_portfolio.jpg) repeat-x;
	text-indent: -9999px;
}

.about {
	background: url(../images/about_block.jpg) no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
}

.about:hover {
	background: url(../images/about_block.jpg) no-repeat;
	background-position: 0 -29px;
	text-indent: -9999px;
}

.about2 {
	background: url(../images/nav_about.jpg) repeat-x;
	text-indent: -9999px;
}

.links {
	background: url(../images/links_block.jpg) no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
}

.links:hover {
	background: url(../images/links_block.jpg) no-repeat;
	background-position: 0 -29px;
	text-indent: -9999px;
}

.links2 {
	background: url(../images/nav_links.jpg) repeat-x;
	text-indent: -9999px;
}

.contact {
	background: url(../images/contact_block.jpg) no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	/*border-right: solid 1px #FFF;*/
}

.contact:hover {
	background: url(../images/contact_block.jpg) no-repeat;
	background-position: 0 -29px;
	text-indent: -9999px;
}

.contact2 {
	background: url(../images/nav_contact.jpg) repeat-x;
	text-indent: -9999px;
}

.sylvezine {
	background: url(../images/sylvezine_block.jpg) no-repeat;
	background-position: 0 0;
	text-indent: -9999px;
	/*border-right: solid 1px #FFF;*/
}

.sylvezine:hover {
	background: url(../images/sylvezine_block.jpg) no-repeat;
	background-position: 0 -29px;
	text-indent: -9999px;
}

#mainNav ul li a {
	font-family: "Bebas Neue", Helvetica, Arial;
	font-size: 1.2em;
	display: block;
	width: 104px;
	height: 25px;
	padding-top: 3px;
	text-align: center;
	text-decoration: underline;
	color: #FFF;
	border-left: solid #FFF 1px;
}

.last {
	border-right: solid #FFF 1px;
}

#mainNav ul li a:hover {
	color: #e45950;
}

#mainNav ul li a.selected {
	background: url(../images/nav_portfolio.jpg) no-repeat;
}

/* -------------------------------- */
/* ---------- main body ---------- */
/* -------------------------------- */
#footerBox {
	width: 820px;
	display: block;
}

#containerPort {
	width: 820px;
	font-size: 1.4em;
	margin-bottom: 10px;
	overflow: auto;
	background: url(../images/portfolio_bgnd.jpg) no-repeat top left;
	background-color: #FFF;
}

#containerAbout {
	width: 820px;
	font-size: 1.4em;
	margin-bottom: 10px;
	overflow: auto;
	background: url(../images/about_bgnd.jpg) no-repeat top left;
	background-color: #FFF;
}

#containerLinks {
	width: 820px;
	font-size: 1.4em;
	margin-bottom: 10px;
	overflow: auto;
	background: url(../images/links_bgnd.jpg) no-repeat top left;
	background-color: #FFF;
}

#containerCont {
	width: 820px;
	font-size: 1.4em;
	margin-bottom: 10px;
	overflow: auto;
	background: url(../images/contact_bgnd.jpg) no-repeat top left;
	background-color: #FFF;
}

#rightBar {
	width: 100%;
	height: 30px;
	display: block;
	float: left;
}

.titleBar {
	height: 23px;
	width: 100%;
	margin: 33px 0 5px 0;
	float: left;
	border-bottom: solid #32382e 1px;
	background: url(../images/stripes.gif) no-repeat right;
}

.contentBar {
	padding-bottom: 2px;
	border-bottom: solid #32382e 1px;
}

#contentIndex {
	padding: 80px 14px 10px 14px;
}

#content {
	padding: 80px 50px 10px 50px;
}

#contentLeft {
	float: left;
}

#contentRight {
	float: left;
	margin-left: 10px;
}

#navBumper {
	width: 100%;
	margin: 15px 0;
	padding-top: 24px;
	background: url(../images/hash_marks.gif) repeat-x top;
	display: block;
	float: left;
}

.bumpLeft {
	float: left;
}

.bumpRight {
	float: right;
}

#whiteBlock {
	width: 820px;
	height: 30px;
	background-color: #FFF;
}

#portImage {
	width: 193px;
	height: 97px;
	display: block;
	float: left;
	margin: 4px 4px 0 0;
}

#portImage a:hover {
	opacity: 0.8;
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  	filter: alpha(opacity=80);
}

.portLast {
	border-right: none;
}

#clearFloats {clear: both;}

#footer {
	width: 820px;
	height: 25px;
}

#footer ul {
	list-style: none;
}

#footer ul li {
	float: left;
}

#footer ul li a {
	display: block;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: .8em;
	list-style: none;
	padding: 3px 10px;
	border-left: solid 1px #C90;
}

#spacer {
	width: 10px;
	height: 25px;
}
