/* Import Partials!
-------------------------------------------------------------------------------*/

@import "compass/css3";

// browser reset
@import "vendor/_normalize";

// modules
@import "modules/_vars";

//structure
//@import "vendor/_grid";
@import "partials/_global";

//@import "partials/_objects";
@import "partials/_type";
//@import "partials/_header";
//@import "partials/_footer";

//@import "partials/_home";
//@import "partials/_portfolio";



html,
body {
	//background-color: $body-bg;
  width: 100%;
  height: 100%;
  font-family: $serif-font;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.story {
	padding: 5em 0;
}

.hero {
  width: 100%;
  height: 100%;
  position: relative;
  border: .6em solid #fff;

  .hero-content {
    text-align: center;
    width: 90%;
  }

  .name {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  .tagline {
    font-family: $serif-font;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

.social-group {

  ul.social-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }

    a.social-icon {
      //float: left;
      display: block;
      width: 1.5em;
      height: 1.5em;
      margin: 0 .5em;
      overflow: hidden;
      background-size: 95%;
      background-repeat: no-repeat;
      background-position: center center;
      text-indent: -9999px;
      @include transition(.2s all linear);

      &:hover {
        opacity: .8;
      }
    }
  }
}

.icon-twitter {
  background-image: url(../img/icon/icon-twitter.svg);
}
.icon-github {
  background-image: url(../img/icon/icon-github.svg);
}
.icon-dribbble {
  background-image: url(../img/icon/icon-dribbble.svg);
}
.icon-rdio {
  background-image: url(../img/icon/icon-rdio.svg);
}

.spectra-cycle { 
  background-color: #C30; 
  animation-name: spectra-cycle; 
  animation-duration: 40s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite; 
} 

@keyframes spectra-cycle {
  0% {background-color:#e9f5f1;} 
  25% {background-color:#80CBC4;} 
  50% {background-color:#FFECB3;} 
  75% {background-color:#CFD8DC;} 
} 

.middle {
  position: absolute;
  top: 46%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%) );
}

.site-footer {
  text-align: center;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.small-link {
  color: #000;
  //background-color: rgba(255, 255, 255, .2);
  //padding: .3em .6em;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  //@include border-radius(4px);
}