/* 
  *
  * Header
  *
  */




.site-header {

}

.site-logo {
	display: block;
	max-width: 10em;
	margin: -5px auto 1em;

	@media screen and (min-width: $small-screen) {
		float: left;
		margin: -5px 1em 1em -5px;
	}
}

// nav links container
.site-nav {
	font-family: $header-font-family;

	@media screen and (min-width: $small-screen) {
		float: right;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;

			@media screen and (min-width: $small-screen) {
				float: left;
			}

			a {
				padding: 1em .5em;
				display: inline-block;
				font-size: .8em;

				@media screen and (min-width: $small-screen) {
					padding: 1.3em 1em;
					color: $secondary-color;

					&:hover {
						color: $primary-color;
					}

					&.nav-contact-link {
						background-color: $primary-color;
						text-indent: -9999px;
						width: 5em;
						height: 5em;
						margin: -1em 2em 0 0;
						@include border-radius($global-rounded);
					}
				}
			}
		}
	}
}


@media screen and (min-width: $small-screen) {

	
}

@media screen and (min-width: $small-screen + 70px) {
	.site-nav ul li a {
		font-size: 1em;
	}
}