/* 
  *
  * Home
  *
  */


.hero {
	text-align: center;
}



.portfolio-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.portfolio-item {
	float: left;
	width: 46%;
	margin: 0 2% 2em;
	
	// clearing on small
	@media screen and (max-width: $small-screen) {
		&:nth-child(odd) {
			clear: both;		
		}
	}
	
	// set width and clearing on medium
	@media screen and (min-width: $small-screen) and (max-width: $medium-screen) {
		width: 29%;
		
		&:nth-child(3n+4) {
			clear: both;
		}
	}
	
	// set width and clearing on large
	@media screen and (min-width: $medium-screen) {
		width: 21%;

		&:nth-child(4n+1) {
			clear: both;
		}
	}

	img {
		display: block;
		max-width: 10em;
		margin: 0 auto;
		@include border-radius($global-rounded);
		@include transition(all .1s linear);
	}

	h2 {
		font-size: 1em;
		text-align: center;
		margin: 1em 0;
		@include transition(all .1s linear);
	}

	&:hover {
		img {
			@include transform( translateY(-.6em) );
		}

		h2 {
			color: $primary-color;
		}
	}
}

#contact {
	@extend .main-content;

	#contact-name {
		width: 49%;
		float: left;
		margin: 0 1% 2% 0;
	}

	#contact-email {
		width: 49%;
		float: left;
		margin: 0 0 2% 1%;
	}

	#contact-message {
		width: 100%;
		min-height: 10em;
	}
}